<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Dev Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
            </li>
            <% }); %>
    </ul>
    <form action="/skills/new" method="GET" autocomplete="off" class="standard-button">
      <button>Add Skill</button>
  </form></body>
</html>
